head {
    background-color:rgb(23, 111, 227);

}    
body {
    background-color:rgb(27, 105, 222);
}
p {
    color:rgb(23, 235, 55);
    text-align: center;
    text-overflow: clip;
    font-size: 21px;
}   
demo {
    color:rgb(29, 118, 173);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color:rgb(189, 108, 137);
    text-decoration:dashed;
    text-decoration-color:rgb(26, 13, 15);
    text-align: center;
}
h3 {
    color:rgb(184, 182, 234);
    text-decoration: solid;
    text-align: center;
    font-size: 21px;
    background-color: rgb(110, 8, 15);
}
h41 {
    color: rgb(236, 142, 35);
    text-transform: capitalize;
    text-align:justify;
    text-decoration: saddlebrown;
    font-size: 64px;
}
h42 {
    color: darkmagenta;
    text-decoration: solid;
    text-align: justify;
    font-size: 24px;
}

